/**** HEADER BAR ****/
.header {
  padding: 1px;
  background: light grey;
  height: 70px;
  width: 100%;
  margin-top: 0px;
  position: relative;
  z-index: 0;
}

.titleText {
  color: white;
  font-size: 13px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
}

.headerText {
  z-index: 3;
}

.subpageButtons {
  margin-top: 0px;
  z-index: 1;
  text-align: center;
  background-color: #EBE4D5;
  color: white;
  font-family: 'Patrick Hand', cursive;
  font-size: 16px;
  height: 70px;
  border-radius: 20px;
}

.subpageButtons:hover {
  background-color: #E6D8BE;
}

#stations {
  margin-left: 60%;
  width: 20%;
}

.activeTab {
  font-weight: bold;
}

#logoHeaderLeft {
  background: #EBE4D5;
  position: absolute;
  z-index: 1;
  margin-left: 40%;
  width: 15%;
  line-height: 50%;
  margin-top: 0px;
  padding: 1px;
  height: 69px;
}

#logoHeaderRight {
  background: #EBE4D5 ;
  position: absolute;
  z-index: 1;
  margin-left: 55%;
  width: 5%;
  margin-top: 0px;
  text-align: right;
  padding-right: 1px;
  z-index: 1;
  padding: 1px;
  height: 69px;
}

#logoSymbol {
  max-height: 70px;
  mix-blend-mode: multiply;
  z-index: 2;
}

.orangeButton {
  background-color: #FF9932;
}

.orangeButton:hover {
  background-color: #ff860d;
}

/*** STATIONS DROPDOWN MENU ***/

/* Style The Dropdown Button */
.dropdownButton {
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #EBE4D5;
  color: dark grey;
  font-size: 13px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 42.5%;
  width: 15%;
  height: 3.75%;
  margin-top: 2%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EBE4D5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
  overflow: auto;
  font-size: 13px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #E6D8BE;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*** CREATE NEW STATION ***/
#submitStation {
  background-color: #EBE4D5;
  width: 10%;
  height: 2.5%;
  color: white;
  font-size: 13px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  margin-top: 2%;
}

#submitStation:however {
  background-color: #E6D8BE;
}

.indentContent {
  box-sizing: border-box;
  padding: 0px 2.5%;
}

/*** TAKE THE QUIZ ***/
#takeTheQuiz {
  width: 20%;
  background-color: #EBE4D5;
  padding: 22px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-left: 40%;
  font-size: 20px;
  margin-top: 20%;
}

#takeTheQuiz:hover {
  background-color: #E6D8BE;
}

/*** GENERAL BODY ***/
.bodyText {
  color: black;
  font-size: 16px;
  font-family: 'Patrick Hand', cursive;
  text-align: left; 
  line-height: 2;
}
