html {
  background: url(Visuals/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**** HEADER BAR ****/
.header {
  padding: 1px;
  background: #7091AD;
  height: 70px;
  width: 100%;
  margin-top: 0px;
  position: relative;
  z-index: 0;
}

.titleText  {
  color: dark grey;
  font-size: 13px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
}

.headerText {
  z-index: 3;
}

.paragraphText {

}

.subpageButtons {
  margin-top: 0px;
  z-index: 1;
  text-align: center;
  background-color: #EBE4D5;
  color: dark grey;
  font-family: 'Patrick Hand', cursive;
  font-size: 16px;
  height: 70px;
  border-radius: 20px;
  position: absolute;
  height: 50%;
  margin-top: 1%
}

.subpageButtons:hover {
  background-color: #E6D8BE;
}

#blog {
  margin-left: 19.64%;
  width: 12.5%;
}

#stations {
  margin-left: 59.28%;
  width: 12.5%;
}

#homepage {
  margin-left: 3.57%;
  width: 12.5%;
}

#social {
  margin-left: 75.36%;
  width: 12.5%;
}

#profileButton {
  margin-left: 91.43%;
  width: 4%;
  height: 100%;
  margin-top: .1%;
}

.activeTab {
  font-weight: bold;
}

#logoHeaderLeft {
  background: #EBE4D5;
  position: absolute;
  z-index: 1;
  margin-left: 35.7%;
  width: 15%;
  line-height: 50%;
  margin-top: 0px;
  padding: 1px;
  height: 69px;
}

#logoHeaderRight {
  background: #EBE4D5 ;
  position: absolute;
  z-index: 1;
  margin-left: 50.7%;
  width: 5%;
  margin-top: 0px;
  text-align: right;
  padding-right: 1px;
  z-index: 1;
  padding: 1px;
  height: 69px;
}

#logoSymbol {
  max-height: 70px;
  mix-blend-mode: multiply;
  z-index: 2;
}

.orangeButton {
  background-color: #FF9932;
}

.orangeButton:hover {
  background-color: #ff860d;
}

/*** AVATAR (dynamic height + width, set bottom "margin", align right edge ***/
#avatar {
  margin-top: 27.5%;
  width: 15%;
  margin-left: 80%;
  position: absolute;
}

#avatarTextBox {
  background-color: #EBE4D5;
  border-radius: 5px;
  width: 15%;
  margin-top: 22.5%;
  margin-left: 70%;
  padding: 15px;
  position: absolute;
}

#avatarBox {
  width: 100%;
  height: 80%;
  position: relative;
}

/*** STATIONS DROPDOWN MENU ***/

/* Style The Dropdown Button */
.dropdownButton {
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #EBE4D5;
  color: dark grey;
  font-size: 13px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 42.5%;
  width: 15%;
  height: 3.75%;
  margin-top: 2%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EBE4D5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
  overflow: auto;
  font-size: 13px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  border-radius: 10px;
  color: dark grey;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: dark grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #E6D8BE;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*** CREATE NEW STATION ***/
#submitStation {
  background-color: #EBE4D5;
  width: 15%;
  height: 3.75%;
  color: dark grey;
  font-size: 13px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  margin-top: 2%;
  border-radius: 10px;
  padding-left: 2.5%;
}

#submitStation:however {
  background-color: #E6D8BE;
}

.indentContent {
  box-sizing: border-box;
  padding: 0px 2.5%;
}

input[name="inputTime"] {
  padding-left: 5px;
}

/*** TAKE THE QUIZ ***/
#takeTheQuiz {
  width: 20%;
  background-color: #EBE4D5;
  padding: 22px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-left: 40%;
  font-size: 20px;
  margin-top: 20%;
  border-radius: 10px;
}

#takeTheQuiz:hover {
  background-color: #E6D8BE;
}

/*** GENERAL BODY ***/
.bodyText {
  color: black;
  font-size: 16px;
  font-family: 'Patrick Hand', cursive;
  text-align: left; 
  line-height: 2;
}

/*** GENERAL STATIONS FORMAT ***/
.stationsBox {
  width: 100%;
  height: 100%;
  background-color: #D9D9D6;
}



/*** POMODORO MAIN THEME ***/

#timeDisplay {
  margin-top: 15%;
  font-size: 70px;
  font-family: 'Patrick Hand', cursive;
  color: white;
  text-align: center;
  height: 20%;
  margin-bottom: 3%;
}

.timerBox {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 20%;
  background-color: light grey;
}

.start {
  background-color: green;
  width: 7.5%;
  height: 30px;
  margin-left: 26.25%;
  
}
.stop {
  background-color: red;
  width: 7.5%;
  height: 30px;
  margin-left: 11.25%;
}
.reset {
  background-color: gray;
  width: 7.5%;
  height: 30px;
  margin-left: 11.25%;
}

//LIST
#list {
  background-color: #EBE4D5;
  width: 30%;
  height: 60%;
  padding: 3%;
  padding-top: 5%;
  line-height: 40px;
  background: url(https://ibb.co/VS0KJ0Z) repeat-y;
  font: normal 14px verdana;
  padding: 2px 10px;   
}
