/*** STATIONS DROPDOWN MENU ***/

/* Style The Dropdown Button */
.dropdownButton {
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #EBE4D5;
  color: dark grey;
  font-size: 16px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 42.5%;
  width: 15%;
  height: 3.75%;
  margin-top: 2%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EBE4D5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
  overflow: auto;
  font-size: 16px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  border-radius: 10px;
  color: dark grey;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: dark grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #E6D8BE;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*** CREATE NEW STATION ***/
#submitStation {
  background-color: #EBE4D5;
  width: 12.5%;
  height: 5%;
  color: dark grey;
  font-size: 16px;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  margin-top: 2%;
  border-radius: 10px;
}

#submitStation:hover {
  background-color: #E6D8BE;
}

#stationForms {
  box-sizing: border-box;
  padding: 0px 2.5%;
  column-count: 3;
  column-gap: 10%;
}

input[name="inputTime"] {
  padding-left: 5px;
}

#addTitleBox {
  
}

/*** TAKE THE QUIZ ***/
#takeTheQuiz {
  width: 20%;
  background-color: #EBE4D5;
  padding: 22px;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-left: 40%;
  font-size: 20px;
  margin-top: 20%;
  border-radius: 10px;
}

#takeTheQuiz:hover {
  background-color: #E6D8BE;
}

/*** GENERAL BODY ***/
.bodyText {
  color: black;
  font-size: 16px;
  font-family: 'Patrick Hand', cursive;
  text-align: left; 
  line-height: 2;
}

/*** GENERAL STATIONS FORMAT ***/
.stationsBox {
  height: 80vh; /* For 100% screen height */
  width:  100vw; 
  background-color: #D9D9D6;
}

.optionsBox {
  margin-left: 7.5%;
  padding: 15px;
  border-radius: 10px;
  background-color: #EBE4D5;
  opacity: .75;
}

/*** POMODORO MAIN THEME ***/

#timeDisplay {
  margin-top: 15%;
  font-size: 70px;
  font-family: 'Patrick Hand', cursive;
  color: white;
  text-align: center;
  height: 20%;
  margin-bottom: 3%;
}

.timerBox {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 20%;
  background-color: light grey;
}

.start {
  background-color: green;
  width: 7.5%;
  height: 30px;
  margin-left: 26.25%;
  
}
.stop {
  background-color: red;
  width: 7.5%;
  height: 30px;
  margin-left: 11.25%;
}
.reset {
  background-color: gray;
  width: 7.5%;
  height: 30px;
  margin-left: 11.25%;
}

/*** LIST ***/

#listBox {
  background-color: #EBE4D5;
  margin-top: 5%;
  width: 30%;
  height: 60%;
  padding: 3%;
  padding-top: 5%;
  line-height: 40px;
  background: url(https://ibb.co/VS0KJ0Z) repeat-y;
  font: normal 14px verdana;
  padding: 2px 10px; 
  border-radius: 10px;
}
