/*** GENERAL BODY ***/
.bodyText {
  color: black;
  font-size: 16px;
  font-family: 'Patrick Hand', cursive;
  text-align: left; 
  line-height: 2;
}

/*** BLOG ***/

#introBox {
  background-color: #7091AD;
  margin-top: 5%;
  margin-left: 80%;
  width: 12.5%;
  height: 400px;
  color: dark grey;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  word-wrap: break-word;
  padding: 20px;
  border-radius: 20px;
}

#introBoxText {
  margin-top: 40%;
}

#introPhoto {
  width: 75%;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  aspect-ratio : 1 / 1;
}

#blogPost {
  width: 60%;
  margin-left: 5%;
  height: 50px;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  background-color: #7091AD;
  text-align: left;
}
